 <!DOCTYPE html>
<html>

<head>
    <%- include('hedgedoc/head') %>
</head>

<body translate="no">
    <%- include('hedgedoc/header') %>
    <%- include('hedgedoc/body') %>
    <%- include('hedgedoc/footer') %>
</body>

<!------------- codimd.ejs ----->

<!--- chen added for viewerjs // edit page --->
<script src="/viewjs/viewer.js"></script>
<link  href="/viewjs/viewer.css" rel="stylesheet">

</html>
